# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\alligator_is_green\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
